body {
    background-color: #f9f9f9;
}

header, main, footer {
    max-width: 500px;
    margin: auto;
}

header {
    text-align: center;
    margin-top: 25px;
}

footer {
    padding: 10px;
    border: 1px solid #bbbbbb;
    text-align: center;
}

main {
    background-color: white;
    border: 1px solid #bbbbbb;
    padding: 20px;
    margin: 25px auto;
    box-shadow: 0 1px 10px 2px #E2E2E2;
}

form div {
    margin: 10px 0;
}

form div:first-child {
    margin: 0;
}

div:last-child {
    margin: 0;
}

button {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    font-size: large;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
    color: white;
}

button[disabled] {
    background-color: #aaa;
    background-image: linear-gradient(-180deg, #d4d4d4, #b4b4b4 90%);
    color: #454545;
}

input {
    border: 1px solid #bbb;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: medium;
}

input {
    height: 30px;
    margin-bottom: 10px;
    font-size: medium;
}

input:last-child {
    margin-bottom: 0;
}

#error {
    border: 1px solid black;
    background-color: #ffdce0;
    color: #86181d;
    margin: 10px 0;
    padding: 10px;
}

input:invalid:not(:focus) {
    outline: 1px solid #f00;
}

@media (max-width: 500px) {
    header, main, footer {
        border: 0;
    }
}
